---
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Suitcase from '../components/icons/Suitcase.astro';
import Code from '../components/icons/Code.astro';
import Proyects from '../components/Proyects.astro';
import AboutMeIcon from '../components/icons/AboutMeIcon.astro';
import TitleSection from '../components/TitleSection.astro';
import Hero from '../components/Hero.astro';
import AboutMe from '../components/AboutMe.astro';
---

<Layout
	title="Mikel Otavalo - Desarrollador Web"
	description="Desarrollador Web y Técnico de sistemas informáticos con un año de experiencia. De Granada, España. Especializado en crear aplicaciones web y posicionamiento web."
	lang="es">
	<main class="px-4">
			<Hero/>

		<div class="space-y-34">
		<SectionContainer id="experiencia" class="animate-fade-in-right timeline-view animate-range-entry">	
				<TitleSection>
					<Suitcase class="size-8"/>Experiencia laboral
				</TitleSection>				
				<Experience/>
		</SectionContainer>

		<SectionContainer id="proyectos" class="animate-fade-in-right timeline-view animate-range-entry">
			<TitleSection>
				<Code class="size-7" />Proyectos
			</TitleSection>
			<Proyects/>
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<TitleSection>
				<AboutMeIcon class="size-8" />Sobre mí
			</TitleSection>
			<AboutMe/>
		</SectionContainer>
		</div>

	</main>
</Layout>
