<article
  class="animate-fade-in-right timeline-view animate-range-entry flex flex-col items-center justify-between  gap-8  text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-600 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty w-2/3"
  >
    <p>
      Soy un apasionado de la tecnología que disfruta trabajando tanto en la <strong>administración de sistemas</strong> como en el <strong>desarrollo web</strong>. Me interesa entender cómo funcionan las herramientas que usamos día a día, desde la configuración de un servidor hasta la creación de una aplicación web completa.
    </p>
    
    <p>
      En el desarrollo web, disfruto diseñando y construyendo proyectos con HTML, CSS y JavaScript, y ampliando mis habilidades con frameworks y herramientas modernas como <strong>Laravel</strong> para el backend y <strong>React</strong> para la parte frontend. Esto me permite desarrollar aplicaciones más dinámicas, seguras y escalables, cuidando tanto la experiencia de usuario como la estructura técnica.
    </p>
    <p>
      Me considero una persona proactiva, curiosa y con muchas ganas de seguir aprendiendo. Valoro el trabajo en equipo, la colaboración y los entornos en los que se puede crecer y aportar al mismo tiempo. Mi objetivo es continuar desarrollando mis habilidades mientras contribuyo con proyectos que generen un impacto positivo y real.
    </p>
  </div>
  <div>
  <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.6.2/dist/dotlottie-wc.js" type="module"></script><dotlottie-wc src="https://lottie.host/7dc2f023-9f5b-433a-94e5-9b99137ffe54/Lt8R2HRo2m.lottie" speed="1" style="width: 1980; height: 920" mode="reverse-bounce" loop autoplay></dotlottie-wc>

  </div>
</article>
